body{
    margin:0
}
.vm-doc *{
    margin:0px;
    padding:0px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.vm-doc [type=button]:not(:disabled),.vm-doc [type=reset]:not(:disabled),.vm-doc [type=submit]:not(:disabled),.vm-doc button:not(:disabled){
    cursor:pointer
}
.vm-doc button{
    color:inherit
}
.vm-doc [type=button],.vm-doc [type=reset],.vm-doc [type=submit],.vm-doc button{
    -webkit-appearance:button
}
.vm-doc .flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    clear:both
}
.vm-doc .container{
    max-width:1170px;
    padding:0 15px;
    margin:0 auto;
    position:relative
}
.vm-doc a{
    text-decoration:none;
    outline:none
}
.vm-doc a:hover{
    text-decoration:none
}
.vm-doc .icon-svg{
    width:18px;
    height:18px;
    fill:currentColor;
    vertical-align:middle
}
.vm-doc .icon-svg{
    color:#fff
}
.vm-doc-sidebar-col{
    font-family:Arial;
    margin-bottom:40px;
    padding-top:25px;
    position:-webkit-sticky;
    position:sticky;
    top:0px
}
.vm-doc-sidebar a{
    -webkit-transition:all 300ms ease;
    transition:all 300ms ease
}
.vm-doc-sidebar .nav>li>a:hover{
    text-decoration:none;
    background-color:#eee
}
.vm-doc-sidebar .title{
    font-size:16px;
    border-bottom:1px solid #e5e5e5;
    padding:10px;
    margin-bottom:10px;
    display:none;
    color:#717074;
    text-align:center
}
.vm-doc-sidebar .vm-doc-sidenav{
    overflow-y:auto;
    max-height:100vh;
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.vm-doc-sidebar .vm-doc-sidenav::-webkit-scrollbar{
    width:8px;
    height:8px
}
.vm-doc-sidebar .vm-doc-sidenav::-webkit-scrollbar-thumb{
    background-color:rgba(0,121,184,0.52);
    border-radius:6px
}
.vm-doc-sidebar .vm-doc-sidenav::-webkit-scrollbar-track{
    background:rgba(0,121,184,0.23);
    border-radius:6px
}
.vm-doc-sidebar .vm-doc-sidenav li{
    position:relative;
    padding-left:10px;
    display:block;
    width:100%
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child .nav{
    counter-reset:item;
    display:none
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child .nav a{
    line-height:1.375rem;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child .nav a::before{
    content:counter(item);
    counter-increment:item;
    width:22px;
    height:22px;
    text-align:center;
    border-radius:50%;
    border:1px solid #a4a5a5;
    font-size:.875rem;
    -ms-flex-negative:0;
    flex-shrink:0;
    -webkit-box-flex:0;
    -ms-flex-positive:0;
    flex-grow:0
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child .nav a.active{
    color:#1d428a
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child .nav a.active::before{
    background-color:#1d428a;
    color:#fff;
    border-color:#1d428a
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child .nav .text{
    padding-left:15px
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child>a:hover{
    color:#1d428a
}
.vm-doc-sidebar .vm-doc-sidenav li.has-child.active .nav{
    display:block
}
.vm-doc-sidebar .vm-doc-sidenav li>button{
    border:0;
    background:0 0;
    position:absolute;
    width:20px;
    height:20px;
    left:6px;
    top:7px;
    padding:0;
    z-index:1
}
.vm-doc-sidebar .vm-doc-sidenav li>button::before{
    content:"";
    display:block;
    width:6px;
    height:6px;
    border-top:2px solid #717074;
    border-right:2px solid #717074;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    left:4px;
    top:6px;
    -webkit-transition:300ms ease all;
    transition:300ms ease all
}
.vm-doc-sidebar .vm-doc-sidenav a{
    padding:10px 15px;
    color:#717074;
    display:block;
    font-size:.875rem;
    line-height:1.2
}
.vm-doc-sidebar .vm-doc-sidenav>li>a{
    font-weight:700
}
.vm-doc-sidebar .vm-doc-sidenav .active>button::before{
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
    top:5px;
    border-color:#1d428a
}
.vm-doc-sidebar .vm-doc-sidenav .active>a{
    color:#1d428a
}
.vm_toggle{
    display:none;
    position:fixed;
    right:15px;
    top:60px;
    border:0;
    background:#fff;
    padding:0;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-animation:pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation:pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -webkit-box-shadow:0 0 0 0 rgba(29,66,138,0.7);
    box-shadow:0 0 0 0 rgba(29,66,138,0.7);
    border-radius:50%;
    width:50px;
    height:50px;
    z-index:999
}
.vm_toggle .active{
    display:none
}
.overlay{
    position:fixed;
    left:0;
    bottom:0;
    top:0;
    background:rgba(0,0,0,0.5);
    z-index:997;
    width:100%;
    display:none
}
.col-left{
    width:270px
}
.col-right{
    width:870px;
    width:calc(100% - 270px);
    padding-left:40px;
    margin-bottom:40px;
    padding-top:20px
}
.mb50{
    margin-bottom:50px !important
}
.mb60{
    margin-bottom:60px !important
}
.article-body{
    font-family:Arial;
    color:#565656;
    line-height:1.6
}
.article-body .vm-doc-section{
    margin-bottom:15px
}
.article-body h1{
    color:#1d428a;
    font-weight:400;
    font-size:28px;
    margin-bottom:15px
}
.article-body h2{
    color:#1d428a;
    font-weight:400;
    font-size:22px;
    margin-bottom:15px
}
.article-body h3{
    font-weight:400;
    font-size:20px;
    margin-bottom:15px
}
@media (max-width: 991px){
    .col-right{
        padding-left:20px
    }
}
@media (max-width: 576px){
    .vm_toggle{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex
    }
    .vm-doc{
        overflow:hidden
    }
    .col-left{
        width:320px;
        max-width:100%;
        position:fixed;
        top:0;
        z-index:998;
        bottom:0;
        right:0;
        -webkit-transition-duration:0.6s;
        transition-duration:0.6s;
        -webkit-transform:translate(100%, 0%);
        transform:translate(100%, 0%)
    }
    .col-left .vm-doc-sidebar-col{
        background:#f0f3f4;
        padding-top:0
    }
    .col-right{
        width:100%;
        padding-left:0
    }
    .vm-doc-sidebar .title{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        height:57px;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .vm-doc-sidebar .vm-doc-sidenav{
        height:100vh;
        height:calc(100vh - 67px);
        display:block
    }
    .vm-doc-sidebar .vm-doc-sidenav a{
        font-size:16px
    }
    .vm-doc-sidebar .vm-doc-sidenav li{
        padding-left:20px
    }
    .vm-doc-sidebar-col{
        position:relative;
        z-index:998
    }
    .open-doc-sidebar .col-left{
        -webkit-transform:translate(0%, 0%);
        transform:translate(0%, 0%)
    }
    .open-doc-sidebar .overlay{
        display:block
    }
    .open-doc-sidebar .vm_toggle{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex
    }
    .open-doc-sidebar .vm_toggle img{
        display:none
    }
    .open-doc-sidebar .vm_toggle .active{
        display:block
    }
}
@-webkit-keyframes pulse{
    to{
        -webkit-box-shadow:0 0 0 5px transparent;
        box-shadow:0 0 0 5px transparent
    }
}
@keyframes pulse{
    to{
        -webkit-box-shadow:0 0 0 5px transparent;
        box-shadow:0 0 0 5px transparent
    }
}
body.open{
    overflow:hidden
}
